body,html {
    background-color: black;
    margin: 0;
    height: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
}

#canvas {
    width: 100%;
}

.game {
    width: 100%;
}

// img:not([opacity = "1"]){
    // display: none
// }
// img:not([class="0"]){
//     display: none;
// }

.image, .tutorial{
    position: absolute;
    top:0; 
    * {
        width: 100%;
        height: 100%;
    }
}

#health {
    z-index: 9999;
    position:absolute;
    top: 10%;
    right: 5%;
    margin: 0;
    padding: 0;
    font-size: 200%;
    color: #2d2d2d;
    font-family: Luna;
    text-align: center
}

@font-face {
    font-family: 'Luna';
    src: url('../../font/Luna.ttf');
}

.menu{
    background-image: url("/img/titles/island.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menu, .gameover {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    align-items: center;
    color:white;
    justify-content:start;
    vertical-align: center;
}

.gameName {
    width: 100%;
    font-size: 400%;
    font-family: Luna;
    padding: 4%;
    padding-bottom: 0;
    padding-left: 10%;
}

.pink{
    color:#ffa6eb;
}
.yellow{
    color:#ffdc5d;
}

.menuButtons {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    width: 30%;
    align-items: center;
    color: white;
    padding: 10%;
    padding-top: 0;
    width: 75%;
}

.menuButton {
    font-size: 200%;
    font-family: Roboto;
    padding-left: 9%;
}

.screen {
    position: absolute;
    right: 0;
    bottom: 0;
    color:white;
    z-index: 100;
    display: flex;
    background-color: white;
    height: 50px;
    width: 50px;
    border-top-left-radius: 10%;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    button {
        border: unset;
        background-color: rgba(0,0,0,0);
        height: 100%;
        width:100%;
        display:block;
        * {
            height: 100%;
            width:100%;
            display: block;
        }
        *:hover{
            // offset-block-start: -10% -10%;
            // translate: -10% -10%;
            position: absolute;
            top: -10%;
            left: -10%;
            height:120%;
            width:120%;
            -webkit-animation: glow 1s ease-in-out infinite alternate;
            -moz-animation: glow 1s ease-in-out infinite alternate;
            animation: glow 1s ease-in-out infinite alternate;
        }
    }
}


// * {
//     transition: all 2s;
// }


.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
}

* {
    user-select: none;
}

// .gameover{
//     color:white;

//     // display:flex;
//     // flex-direction: column;
//     // justify-content: space-evenly;
//     // align-content: center;
//     // align-items: center;
//     // text-align: center;

//     height:100%;
// }

.gotext {
    font-size:400%;
}
.menuButton:hover {
    font-size: 250%;
    // color: #fff;
    // text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
